In [1]:
a1 = [1, 2, 3, 4, 5]
t1 = (1, 2, 3, 4, 5)
println(t1)

(1, 2, 3, 4, 5)

In [2]:
println(typeof(a1))
println(typeof(t1))

Vector

{Int64}
NTuple{5, Int64}

In [3]:
a1

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [4]:
t1

(1, 2, 3, 4, 5)

In [5]:
a1[1] = 6
a1

5-element Vector{Int64}:
 6
 2
 3
 4
 5

In [6]:
t1[1] = 6
t1

MethodError: MethodError: no method matching setindex!(::NTuple{5, Int64}, ::Int64, ::Int64)

In [8]:
t1[2:end]

(2, 3, 4, 5)

In [10]:
println(typeof(t1))

NTuple{5, Int64}

In [9]:
t2 = ((1, 3),(2, 5))
println(t2)
println(typeof(t2))

((1, 3), (2, 5))
Tuple{Tuple{Int64, Int64}, Tuple{Int64, Int64}}

In [11]:
# Accessing the 2d tuple
t2[1][2]

3

In [12]:
t2[2][1]

2

In [13]:
marks = (Science = (90, 100), Maths = (80, 100), English = (70, 100))
marks.Science

(90, 100)

In [15]:
marks2 = (History = (60, 100), Sports = (50, 100))
marks2.History

(60, 100)

In [16]:
# Adding the two tuples
merge(marks, marks2)

(Science = (90, 100), Maths = (80, 100), English = (70, 100), History = (60, 100), Sports = (50, 100))

In [18]:
t4 = (1, 2, 3, 4, 5)
t5 = Int64(8.0, 9.0, 10.0)
merge(t4, t5)

MethodError: MethodError: no method matching Int64(::Float64, ::Float64, ::Float64)
Closest candidates are:
  Int64(::Float64) at float.jl:784
  (::Type{T})(::T) where T<:Number at boot.jl:772