In [1]:
using Pkg
Pkg.add("SQLite")

    Updating registry at `C:\Users\Sourabh Jadhav\.julia\registries\General.toml`

   Resolving package versions...

   Installed DBInterface ─ v2.5.0

   Installed SQLite_jll ── v3.39.2+0

   Installed SQLite ────── v1.4.2

    Updating `C:\Users\Sourabh Jadhav\.julia\environments\v1.8\Project.toml`
  [0aa819cd] + SQLite v1.4.2
    Updating `C:\Users\Sourabh Jadhav\.julia\environments\v1.8\Manifest.toml`

  [a10d1c49] + DBInterface v2.5.0
  [0aa819cd] + SQLite v1.4.2
  [76ed43ae] + SQLite_jll v3.39.2+0

Precompiling

project...

  ✓ DBInterface

  ✓ SQLite_jll

  ✓ SQLite
  3 dependencies successfully precompiled in 8 seconds. 145 already precompiled.

In [2]:
# DDL - Create, Alter, and Drop - SQLite.DB
# DML - Insert, Update, and Delete - SQLite.execute
# DQL - Select - SQLite.Query

In [3]:
using SQLite

In [4]:
# Creating database
db = SQLite.DB("Movies")

SQLite.DB("Movies")

In [6]:
SQLite.execute(db, "CREATE TABLE IF NOT EXISTS movies(movie_id REAL, movie_name TEXT, location TEXT)")

101

In [8]:
SQLite.tables(db)

1-element Vector{SQLite.DBTable}:
 SQLite.DBTable("movies", Tables.Schema:
 :movie_id    Union{Missing, Float64}
 :movie_name  Union{Missing, String}
 :location    Union{Missing, String})

In [9]:
# Insert the record
SQLite.execute(db, "INSERT INTO movies (movie_id, movie_name, location) VALUES(1, 'Avengers', 'USA')")

101

In [12]:
using DataFrames
DataFrame(SQLite.DBInterface.execute(db, "SELECT * FROM movies"))

1×3 DataFrame
 Row │ movie_id  movie_name  location
     │ Float64   String      String
─────┼────────────────────────────────
   1 │      1.0  Avengers    USA

In [14]:
DataFrame(SQLite.columns(db, "movies"))

3×6 DataFrame
 Row │ cid    name        type    notnull  dflt_value  pk
     │ Int64  String      String  Int64    Missing     Int64
─────┼───────────────────────────────────────────────────────
   1 │     0  movie_id    REAL          0     missing      0
   2 │     1  movie_name  TEXT          0     missing      0
   3 │     2  location    TEXT          0     missing      0